-brands = getBrandsForCatalog product.id
-unless brands.nil?
 .ui.vertical.menu
  .ui.dropdown.item
   |Бренды
   i.dropdown.icon
   .menu
    -i = 1
    -brands.each do |brand|
     =link_to "#{brand.name} (#{brand.catalogs.length})", brand_catalogs_path(product.code, brand.id), class: 'item'