.ui.minimal.comments
 h3.ui.dividing.header Комментарии
 -unless flash.notice.blank?
  .ui.small.success.message
   i.close.icon
   p=flash.notice
 -unless items.comments.blank?
  -items.comments.each do |item|
   .comment
    a.avatar
     =image_tag 'User_gray.png'
     .content
      a.author=item.name
      .metadata
       span.date=item.created_at.strftime('%d.%m.%Y %H:%M')
      .text=item.comment
      .actions
       a.reply
        =getRatioText item.ratio.ratio
        |&nbsp;
        .ui.star.rating.user(data-rating="#{item.ratio.ratio}" data-max-rating='5' style='float:right')
 -else
  .no_comment Нет комментариев.
 -unless disable
  =form_for @comments, url: add_comment_catalogs_path, html: { class: 'ui reply form' } do |f|
   =f.hidden_field :catalog_id, value: items.id
   =f.hidden_field :active, value: 0
   .two.fields
    .field
     =f.text_field :name, placeholder: 'Ваше имя'
    =f.fields_for :ratio  do |field|
     .field
      =field.select :ratio, {'Рейтинг' => '0', 'Ужасно' => 1, 'Плохо' => 2, 'Нормально' => 3, 'Хорошо' => 4, 'Отлично' => 5},{}, {placeholder: 'Рейтинг', class: 'ui fluid dropdown'}
      =field.hidden_field :ip, value: request.remote_ip
      =field.hidden_field :session, value: request.session.id
      =field.hidden_field :catalog_id, value: items.id
   .field
    =f.text_area :comment, placeholder: 'Ваш комментарий'
   .ui(class="#{items.product.nil? ? 'teal' : items.product.color} labeled submit icon button" onclick="$('#new_comment').submit()")
    i.icon.comment
    |Добавить
 -else
  .ui.dividing.header
  .no_comment Вы уже оценили этот товар.