.ui.vertical.menu
  -subsections = getSubsectionsForFilter section
  -unless subsections.nil?
    -subsections.each do |subsection|
      a.item(class="#{'active' if !params[:sub_id].blank? && params[:sub_id].to_i == subsection.id}" href="#{catalog_subsection_path(subsection.product.code, subsection.id)}")
        .title=subsection.name
        .count
         .ui.label(class="#{color}")=subsection.catalogs.length
        .clearfix