-items.each do |val|
  -product_count = getOrderCountsForUserByProduct(request.session.id, val.id)
  .card
    .image
      .ui.fluid.image
       -unless val.discount.blank?
        .ui.red.right.ribbon.label
          ="#{val.discount}%"
       =link_to (image_tag val.picture.url(:site)), catalog_path(val)
    .content data-no-turbolink='true'
      .header=link_to val.name, catalog_path(val)
      .meta
        -unless val.brand.nil?
          a=val.brand.name
      .description=val.anons.html_safe
    .extra.content
      span.right.floated
       a class='to_cart' title='В корзину' data-catalod="#{val.id}" data-session="#{request.session.id}" data-no-turbolink='true'
        .ui.mini.button(class="#{val.product.color } #{'disabled' if product_count > 0 }" tabindex='0')
         .visible.content
          i.shop.icon
          -unless product_count > 0
           span.cart_text= 'В корзину'
          -else
           span.cart_text= 'Добавлен'
      span
        i.ruble.icon
        -price = val.price if val.discount.blank?
        -unless val.discount.blank?
         -discount = val.price * (val.discount.to_f / 100)
         -price = val.price - discount
        =number_to_currency(price, unit: '', separator: ',', delimiter: ' ')