.ui.styled.fluid.accordion
  -unless products.nil?
    -i = 0
    -products.each do |product|
      .title(class="#{'active' if i == 0}" style="color: #{getSectionColor(product.color)} !important")
        div style='float: left; padding-top: 2px'
         i.folder.outline.icon(class="#{'open' if i == 0}")
         =product.name
        .ui.horizontal.label.circular(class="#{product.color}" style='float: right')=product.catalogs.length
        .clearfix
      .content(class="#{'active' if i == 0}")
       -if product.subsections.any?
         -product.subsections.each do |subsection|
          p.transition(class="#{ i == 0 ? 'visible' : 'hidden' }" style="#{ i == 0 ? 'display: block !important;' : '' }")
           =link_to "#{subsection.name} (#{subsection.catalogs.length})", catalog_subsection_path(product.code, subsection.id) ,style: "color: #{getSectionColor(product.color)} !important"
      -i = 1