#order
  =form_for Order.new, url: orders_path(), html: {class: 'ui form'} do |f|
    h2.ui.dividing.header Заказать
    =f.hidden_field :catalog_id
    =f.hidden_field :order_type, value: '2'
    .field
      label Представтесь
      .two.fields
        .field
          =f.text_field :name, placeholder: 'Имя*'
        .field
          =f.text_field :sename, placeholder: 'Фамилия*'
      label Контактные данные
      .two.fields
        .field
          =f.text_field :phone, placeholder: 'Телефон*'
        .field
          =f.email_field :email, placeholder: 'Email'
    .field
      label Товар
      .fields
        .fourteen.wide.field
          label#tovar.tovar
        .two.wide.field
          =f.text_field :count, placeholder: 'шт.*'
    .field
      =f.submit 'Отправить', class: 'ui button'

