.ui.two.column.grid
 -unless @products.nil?
  -i = 1
  -@products.each  do |section|
   .column
    a href=section_catalog_path(section.code)
     .ui.fluid.image
      .ui(class="#{section.color} #{i % 2 == 0 ? 'right' : ''} ribbon big label")=section.name
      -i += 1
      -if section.picture.present?
       =image_tag section.picture.url(:site)
