h3.ui.header(style='float: left; padding-top: 15px') Содержимое странички с продукцией
=render 'actions', el: @products
.clearfix
br
.ui.accordion
 -unless @products.blank?
  -@products.each do |product|
   .title
    .name
     i.folder.icon
     ="#{product.name} (#{product.catalogs.length})"
    -if product.picture.present?
     =image_tag product.picture.url(:mini), class: 'ui avatar image'
     .clearfix
   .content
    =link_to '<div class="ui button negative">Удалить</div>'.html_safe, product_path(product), method: :delete, data: {confirm: 'Удаление раздела приведет к удалению всех товаров в разделе. Удалить?'}
    =link_to '<div class="ui button">Редактировать раздел</div>'.html_safe, edit_product_path(product)
    =link_to '<div class="ui button instagram" style="float:left">Добавить продукт</div>'.html_safe, new_catalog_path(id: product)
    =link_to '<div class="ui button instagram" style="float:left">Добавить подраздел</div>'.html_safe, new_subsection_path(id: product)
    .clearfix
    br
    -unless product.subsections.nil?

      .ui.grid
        .twelve.wide.stretched.column
          -i = 0
          -product.subsections.each do |subsection|
            .ui.tab.segment(data-tab="tab_#{subsection.id}" class="#{'active' if i == 0}")
              -i = 1
              =link_to '<div class="ui button negative">Удалить</div>'.html_safe, subsection_path(subsection), method: :delete, data: {confirm: 'Удаление раздела приведет к удалению всех товаров в разделе. Удалить?'}
              =link_to '<div class="ui button">Редактировать</div>'.html_safe, edit_subsection_path(product)
              =link_to '<div class="ui button instagram" style="float:left">Добавить</div>'.html_safe, new_catalog_path(id: product, subsection_id: subsection)
              .clearfix
              -unless subsection.catalogs.nil?
                br
                .ui.middle.aligned.big.celled.list
                  -subsection.catalogs.each do |item|
                    .item
                      .righted.floated.conten
                        .ui.button.negative(style='margin-top: 5px;')=link_to 'Удалить', catalog_path(item), method: :delete, data: {confirm: 'Удалить элемент?'}
                        -if item.picture.present?
                          =image_tag item.picture.url(:mini), class: 'ui avatar image'
                        =link_to "#{item.name} (Артикул: #{item.article})", edit_catalog_path(item), style: 'font-size: 16px'
        .four.wide.column
          .ui.vertical.fluid.right.tabular.menu
              -i = 0
              -product.subsections.each do |subsection|
               =link_to "#{subsection.name} (#{subsection.catalogs.length})", '', class: "item #{'active' if i == 0}", data: {tab: "tab_#{subsection.id}"}
               -i = 1
    -unless product.catalogs.nil?
       .ui.middle.aligned.big.celled.list(style='padding-left: 50px')
        -product.catalogs.each do |item|
          -if item.subsection_id.nil?
           .item
            .righted.floated.conten
             .ui.button(style='margin-top: 5px;')=link_to 'Удалить', catalog_path(item), method: :delete, data: {confirm: 'Удалить элемент?'}
             -if item.picture.present?
              =image_tag item.picture.url(:mini), class: 'ui avatar image'
             =link_to "#{item.name} (Артикул: #{item.article})", edit_catalog_path(item), style: 'font-size: 14px'
coffee:
 $('.menu .item').tab()
 $('.ui.accordion').accordion()
