=render '/layouts/breadcrumbs'
-unless @brand.seo.nil?
  =render '/layouts/seo', meta: @brand.seo
-else
  -object = Seo.new(title: @brand.name, keywords: @brand.name, description: @brand.name)
  =render '/layouts/seo', meta: object
=content_for :left_sidebar do
  =render 'filter', section: @product.id, color: @product.color
=content_for :body do
  |catalog_section
h1.ui.header="Продукция бренда: #{@brand.name}"
.brands_catalog
  =render 'brands', product: @product
.ui.link.cards
  =render 'items', items: @brand.catalogs unless @brand.catalogs.nil?
.clearfix
=render 'order'