=render '/layouts/breadcrumbs'
-object = Seo.new(title: 'Продукция со скидкой', keywords: 'продукция компания со скидкой', description: 'Продукция компании Amway со скидкой')
=render '/layouts/seo', meta: object

=content_for :body do
  |catalog_section
h1.ui.header Продукция со скидкой
.ui.link.cards
  =render 'items', items: @catalogs unless @catalogs.nil?
.clearfix
=render 'order'