=render '/layouts/breadcrumbs'
-object = Seo.new(title: 'Продукция', keywords: 'продукция компания', description: 'Продукция компании Amway')
=render '/layouts/seo', meta: object
=content_for :body do
  |catalog_index
=content_for :left_sidebar do
  =render 'left_menu', products: Product.all
h1.ui.header Продукция
br
 =render 'sections'