=content_for :body do
 |catalog_edit_new
h3.ui.header(style='float: left; padding-top: 15px') Добавить
=render 'actions', el: @catalogs
.clearfix
br
.ui.pointing.secondary.menu
  =link_to 'Основное', '', class: 'item active', data: {tab: 'main'}
  =link_to 'SEO', '', class: 'item', data: {tab: 'seo'}
=form_for @catalogs, html: {class: 'ui form', multipart: true} do |f|
 .ui.tab.segment.active(data-tab='main')
  .field
    =f.label :name
    =f.text_field :name, placeholder: 'Название'
  .ui.horizontal.divider.header
    |Параметры продукта
  .three.fields
   .field
     =f.label :product_id
     =f.select :product_id, getSections, selected: params[:id]
   .field
     =f.label :subsection_id, 'Подраздел'
     =f.select :subsection_id, getSubsections(params[:id]), selected: params[:subsection_id]
   .field
     =f.label :brand_id, 'Бренд'
     =f.select :brand_id, getBrands(params[:id]), include_blank: true
  .three.fields
   .field
     =f.label :article
     =f.text_field :article, placeholder: 'Артикул'
   .field
     =f.label :price
     =f.text_field :price, placeholder: 'Цена'
   .field
     =f.label :count
     =f.text_field :count, placeholder: 'Количество'
  .ten.fields
   .field
     =f.label :discount
     =f.number_field :discount, placeholder: '%',data: { content: 'Скидку вводить в процентах'}
  .ui.horizontal.divider.header
    |Изображение продукта
  .field
    label Изображение
    =f.file_field :picture
  .ui.horizontal.divider.header
    |Краткое описание продукта
  .field
    =f.cktext_area :anons, ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}
  .ui.horizontal.divider.header
    |Полное, детальное описание продукта
  .field
    =f.cktext_area :description, ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}


 .ui.tab.segment(data-tab='seo')
  =f.fields_for :seo do |seo|
   .field
    =seo.label :title, 'Заголовок браузера'
    =seo.text_field :title, placeholder: 'Заголовок браузера'
   .field
    =seo.label :keywords
    =seo.text_field :keywords,placeholder: 'Ключевые слова'
   .field
    =seo.label :description, 'Описание'
    =seo.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
 .field
  =f.submit 'Добавить', class: 'ui primary button'