=render '/layouts/breadcrumbs'
-unless @product.seo.nil?
 =render '/layouts/seo', meta: @product.seo
-else
 =content_for :meta do
  title=@product.name
=content_for :body do
 |catalog_section
h1.ui.header=@product.name.mb_chars

=content_for :left_sidebar do
 =render 'filter', section: @product.id, color: @product.color
 /.sort
  |Сортировать:
   .ui.celled.horizontal.list
     =link_to 'Популярности', '', class: 'item'
     =link_to 'Цене', '', class: 'item'
.brands_catalog
  =render 'brands', product: @product
.ui.link.cards
  =render 'items', items: @product.catalogs unless @product.catalogs.nil?
.clearfix
=render 'order'