=render '/layouts/breadcrumbs'
-unless @catalogs.seo.nil?
  =render '/layouts/seo', meta: @catalogs.seo
-else
 =content_for :meta do
  title=@catalogs.name
=content_for :body do
 |catalog_detail
h1.ui.header= @catalogs.name
.ui.grid
 .four.wide.column
  -if @catalogs.picture.present?
   =link_to (image_tag @catalogs.picture.url(:detal), width: '230'),  '#product_image', class: 'image_popup',  rel: 'image_popup'
   =image_tag @catalogs.picture.url(:original), style: 'display: none', id: 'product_image'
  .ui.grid
    .eight.wide.column
     .article
       |Артикул:&nbsp;
       b=@catalogs.article
    .eight.wide.column
     -unless @catalogs.brand.nil?
      .article(style='text-align:right')=@catalogs.brand.name
  .price_detail(style="color: #{getSectionColor @catalogs.product.color}")
   -if @catalogs.discount.blank?
    i.ruble.icon
    =number_to_currency(@catalogs.price, unit: '', separator: ',', delimiter: ' ')
   -unless @catalogs.discount.blank?
    -discount = @catalogs.price * (@catalogs.discount.to_f / 100)
    -price = @catalogs.price - discount
    .ui.label
     span.old
      i.ruble.icon
      =number_to_currency(@catalogs.price, unit: '', separator: ',', delimiter: ' ')

    a.ui.basic.label(class="#{@catalogs.product.color}")
     i.ruble.icon
     =number_to_currency(price, unit: '', separator: ',', delimiter: ' ')
  /.hidden
   =link_to (image_tag 'img2.jpg', width: '150px'),  '/assets/img2.jpg', class: 'image_popup',  rel: 'image_popup'
   =link_to (image_tag 'img3.jpg', width: '150px'),  '/assets/img3.jpg', class: 'image_popup',  rel: 'image_popup'
   =link_to (image_tag 'img4.jpg', width: '150px'),  '/assets/img4.jpg', class: 'image_popup',  rel: 'image_popup'
 .twelve.wide.column
  -ratio = getRatio @catalogs.id
  .ui.star.rating(data-rating="#{ratio[:ratio]}" data-max-rating='5' style='float:right' title="Рейтинг товара: #{ratio[:ratio_text]}")
  br
  =@catalogs.description.html_safe
  .buttons
   =link_to "<i class='shop icon'></i> #{getOrderCountsForUserByProduct(request.session.id, @catalogs.id) > 0 ? 'Добавлен' : 'В корзину'}".html_safe, '', class: "ui small #{@catalogs.product.color} button #{'disabled' if getOrderCountsForUserByProduct(request.session.id, @catalogs.id) > 0} to_cart", data: {session: request.session.id, catalod: @catalogs.id, 'no-turbolink' => 'true'}
/=render 'order'
=render 'comments', items: @catalogs, disable: ratio[:disable]