=render '/layouts/breadcrumbs'
=content_for :meta do
  title=@subsection.name
=content_for :body do
 |catalog_section
h1.ui.header=@subsection.name.mb_chars

=content_for :left_sidebar do
  =render 'filter', section: @product.id, color: @product.color
/.sort
 |Сортировать:
 .ui.celled.horizontal.list
  =link_to 'Популярности', '', class: 'item'
  =link_to 'Цене', '', class: 'item'
.brands_catalog
  =render 'brands', product: @product
.ui.link.cards
  =render 'items', items: @subsection.catalogs unless @subsection.catalogs.nil?
.clearfix
=render 'order'