h3.ui.header(style='float: left; padding-top: 15px') Коментарии
table.ui.compact.celled.definition.table
 thead
  tr
   th
   th Активность
   th Имя
   th Коментарий
   th Рейтинг
   th Страница
   th Дата
   th
 -unless @comments.blank?
  tbody
   -@comments.each do |comment|
    tr(class="#{ comment.active ? 'positive' : 'negative' }")
     td.collapsing
      .ui.fitted.slider.checkbox
       =form_for comment do |f|
        =f.check_box :active, { class: 'active_comment', id: "comment_#{comment.id}"}, 1, 0
        label

     td="#{ comment.active ? 'Активен' : 'Не активен' }"
     td=link_to comment.name, edit_comment_path(comment)
     td=comment.comment
     td=getRatioText comment.ratio.ratio
     td=link_to comment.catalog.name, catalog_path(comment.catalog)
     td=comment.created_at.strftime('%d.%m.%Y %H:%M')
     td(style='text-align: center')=link_to 'Удалить', comment_path(comment), method: :delete, class: 'ui mini negative button', data: {confirm: 'Удалить комментарий?'}
 tfoot.full-width
  tr
   th
   th colspan='7'
    .ui.right.floated.medium(style='text-align: right')
     =paginate @comments, theme: 'semantic_ui'