h3.ui.header Редактировать
=form_for @comments, html:  {class: 'ui form'} do |f|
  .field(style='float: left; width: 140px')
    .ui.fitted.slider.checkbox(style='float: left; margin-right: 10px')
     =f.check_box :active, {}, 1, 0
     label
    =f.label :active, @comments.active ? 'Деактивировать' : 'Активировать'
  div(style='color: #000; float: right; font-size: 16px')
   ="#{@comments.name} оценил продукт как:&nbsp;".html_safe
   b=getRatioText @comments.ratio.ratio
  .field
   =f.label :name, 'Имя'
   =f.text_field :name, readonly: true
  .field
    =f.label :comment
    =f.cktext_area :comment, ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
  .field
   .ui.buttons
    =f.submit 'Сохранить', class: 'ui positive button'
    .or
    =link_to 'Удалить', comment_path(@comments), method: :delete, class: 'ui negative button', data: {confirm: 'Удалить комментарий?'}