h3.ui.header(style='float: left; padding-top: 15px') Содержимое странички с акциями
=render 'actions', el: @shares
.clearfix
br
.ui.massive.aligned.divided.list
  -unless @shares.blank?
    -@shares.each do |share|
      .item
        .right.floated.content
          .ui.button=link_to 'Удалить', share_path(share), method: :delete, data: {confirm: 'Удалить эту акцию?'}
        -if share.picture.present?
          =link_to (image_tag share.picture.url(:mini)), edit_share_path(share), class: 'ui avatar image'
        .content
          =link_to "#{share.name}  #{'(Не активная)' unless share.active }", edit_share_path(share), class: "#{'non-active' unless share.active }"
          .date=share.created_at.strftime('%d.%m.%Y %H:%M:%S')
    br
=paginate @shares, theme: 'semantic_ui'