=render '/layouts/breadcrumbs'
-object = Seo.new(title: 'Акции', keywords: 'акции компания', description: 'Акции компании Amway')
=render '/layouts/seo', meta: object
h1.ui.header Акции
.shares
  .ui.massive.aligned.divided.list
    -unless @shares.blank?
      -@shares.each do |share|
        .item
          -if share.picture.present?
            =link_to (image_tag share.picture.url(:banner)), share_path(share), class: 'ui image'
          .content
            .name=link_to share.name, share_path(share)
            .desc=share.anons.html_safe
          .date=share.created_at.strftime('%d.%m.%Y')
      br
  =paginate @shares, theme: 'semantic_ui'