=render '/layouts/breadcrumbs'
-unless @shares.seo.nil?
  =render '/layouts/seo', meta: @shares.seo
-else
  =content_for :meta do
    title=@shares.name  
h1.ui.header=@shares.name
.shares
 .ui.segment
  .ui.red.right.ribbon.medium.label="Срок действия акции с #{@shares.date_from} по #{@shares.date_to} гг."
  =image_tag @shares.picture.url(:site)
=@shares.detail.html_safe
/.nav
  -unless @shares.prev.blank?
    a.ui.labeled.icon.button.instagram href="#{share_path(@shares.prev)}"
      i.left.arrow.icon
      |Предыдущая акция
  -unless @shares.next.blank?
    a.ui.right.labeled.icon.button.instagram href="#{share_path(@shares.next)}"
      i.right.arrow.icon
      |Следующая акция


