h3.ui.header(style='float: left; padding-top: 15px')= "Редактировать подраздел в разделе: #{@subsection.product.name}"
br
=form_for @subsection, html: {class: 'ui form', multipart: true} do |f|
  .field
    =f.label :name
    =f.text_field :name, placeholder: 'Название'
  .field
    =f.submit 'Сохранить', class: 'ui primary button'