h3.ui.header(style='float: left; padding-top: 15px')= "Добавить подраздел в раздел: #{Product.find(params[:id]).name}"
br
=form_for @subsection, html: {class: 'ui form', multipart: true } do |f|
  =f.hidden_field :product_id, value: params[:id]
  .field
    =f.label :name
    =f.text_field :name, placeholder: 'Название'
  .field
    =f.submit 'Добавить', class: 'ui primary button'
