h3.ui.header(style='float: left; padding-top: 15px') Заявки
table.ui.celled.structured.table
  thead
    tr
      th
      th №
      th Статус
      th ФИО
      th Телефон
      th Email
      th Тип заявки
      th Дата
  -unless @users.blank?
    -all_order_sum = 0
    tbody
      -@users.each do |user|
        -text = getUserActiveText user.active, user.order_type
        -unless user.orders.nil?
         -user.orders.each do |order|
          -all_order_sum += order.catalog.price * order.count
        tr(style="background: #{text[:color]}")
          td.collapsing
            .ui.fitted.slider.checkbox
              =form_for user do |f|
                =f.check_box :active, {disabled: user.active, class: 'active_order', id: "order_#{user.id}"}, 1, 0
                label
          td=link_to user.id, user_info_path(user)
          td=text[:text]
          td="#{user.sename} #{user.name} #{user.father_name}"
          td=user.phone
          td=user.email
          td=getOrderType[user.order_type.to_i]
          td=user.created_at.strftime('%d.%m.%Y %H:%M')
  tfoot.full-width
    tr
      th
      th colspan='12'
        p(style='float:left; padding-top: 1em;')
         |Всего заказов на сумму:&nbsp;
         b=number_to_currency(all_order_sum, unit: '', separator: ',', delimiter: ' ')
         i.ruble.icon
        .ui.right.floated.medium(style='text-align: right; float: right')
          =paginate @users, theme: 'semantic_ui'