h1.ui.header Корзина
-object = Seo.new(title: 'Корзина', keywords: 'корзина заказы товары количество', description: 'Ваша корзина')
=render '/layouts/seo', meta: object
.ui.ordered.steps.small
  .active.step
    .content
      .title Данные пользователя
      .description
        |Введите данные для
        br
        |идентификации вашего заказа
  .step
    .content
      .title Заказы
      .description Список заказов
  .step
    .content
      .title Подтверждение заказа
      .description Отправка заказа на выполнение
=form_for @user_info, url: update_from_site_user_info_path(), html: {class: 'ui form'} do |f|
  =f.hidden_field :session, value: request.session.id
  =f.hidden_field :order_type, value: 2
  .field
    .three.fields
      .field
        =f.label :name
        =f.text_field :name, placeholder: 'Имя*'
      .field
        =f.label :sename
        =f.text_field :sename, placeholder: 'Фамилия*'
      .field
        =f.label :father_name
        =f.text_field :father_name, placeholder: 'Отчество'
    .two.fields
      .field
        =f.label :phone
        =f.text_field :phone, placeholder: 'Телефон*'

      .field
        =f.label :email
        =f.text_field :email, placeholder: 'Email'
  .field
    button.ui.primary.right.labeled.icon.button type='submit'
      |Далее
      i.right.arrow.icon