h1.ui.header Корзина
-object = Seo.new(title: 'Корзина', keywords: 'корзина заказы товары количество', description: 'Ваша корзина')
=render '/layouts/seo', meta: object

-if getOrderCountsForUser(request.session.id) > 0
 .ui.ordered.steps.small
   .active.step
     .content
       .title Данные пользователя
       .description Введите данные для идентификации вашего заказа
   .step
     .content
       .title Заказы
       .description Список заказываемых товаров
   .step
     .content
       .title Подтверждение заказа
       .description Отправка заказа на выполнение

 -if @user_info.errors.any?
  .error-message Заполните все обязательные поля:
  hr
 =form_for @user_info, html: {class: 'ui form'} do |f|
  =f.hidden_field :session, value: request.session.id
  =f.hidden_field :order_type, value: 2
  .field
    .three.fields
      .field
       =f.label :name, 'Имя'
       =f.text_field :name, placeholder: 'Имя*', class: "#{@user_info.errors.messages[:name] ? 'input-error' : ''}"
      .field
       =f.label :sename
       =f.text_field :sename, placeholder: 'Фамилия*', class: "#{@user_info.errors.messages[:sename] ? 'input-error' : ''}"
      .field
        =f.label :father_name
        =f.text_field :father_name, placeholder: 'Отчество'
    .four.fields
      .field
        =f.label :phone
        =f.text_field :phone, placeholder: 'Телефон*', class: "#{@user_info.errors.messages[:phone] ? 'input-error' : ''}"

      .field
        =f.label :email
        =f.text_field :email, placeholder: 'Email'
  .field
    button.ui.primary.right.labeled.icon.button type='submit'
     |Далее
     i.right.arrow.icon
-else
 p Корзина пуста!

