h3.ui.header(style='padding-top: 15px')
 |Заявка №&nbsp;
 =@user.id
.ui.items
 .item
  .ui.small.image
   =image_tag 'User_gray.png' if @user.order_type.to_i == 1
   =image_tag 'order.png' if @user.order_type.to_i == 2
  .middle.aligned.content
   .header="#{@user.name} (#{getOrderType[@user.order_type.to_i]}) от #{@user.created_at.strftime('%d.%m.%Y %H:%M')}"
   .description
    .ui.list
     .item
      i.user.icon
      .content="#{@user.sename} #{@user.name}"
     .item
      i.phone.icon
      .content=@user.phone
     .item
      i.mail.icon
      .content=@user.email
     -unless @user.seriya.nil? && @user.number.nil? && @user.date.nil? && @user.who.nil?
      .item
       i.book.icon
       .content
        |Паспортные данные
        .list
         .item
          .content
           |Серия:&nbsp;
           b(style='text-decoration: underline')=@user.seriya
         .item
          .content
           |Номер:&nbsp;
           b(style='text-decoration: underline')=@user.number
         .item
          .content
           |Дата выдачи:&nbsp;
           b(style='text-decoration: underline')=@user.date.strftime('%d.%m.%Y')
         .item
          .content
           |Кем выдан:&nbsp;
           b(style='text-decoration: underline')=@user.who

     -if @user.orders.any?
      .item
       i.info.circle.icon
       .content
        |Информация о заказе:
        -sum = 0
        -count_all = 0
        table.ui.compact.celled.table
         thead
          tr
           th Наименование
           th Артикул
           th Цена
           th Количество
         tbody
          -@user.orders.each do |order|
           -sum += order.catalog.price*order.count
           -count_all += order.count
           tr
            td.collapsing=order.catalog.name
            td=order.catalog.article
            td=number_to_currency(order.catalog.price, unit: '<i class="ui ruble icon" style="text-decoration: none"></i>', separator: ',', delimiter: ' ')
            td=order.count
         tfoot.full-width
           tr
             th(colspan='2')
              b Итого:
             th=number_to_currency(sum, unit: '<i class="ui ruble icon" style="text-decoration: none"></i>', separator: ',', delimiter: ' ')
             th=count_all
   .extra
     =link_to 'Вернуться к списку', admin_user_infos_path()


