=link_to 'Главная страничка', admin_mains_path, class: "item #{'active' if params[:controller] == 'mains'}"
=link_to 'Продукция', admin_catalogs_path, class: "item #{'active' if params[:controller] == 'catalogs'}"
=link_to 'Бизнес', admin_bisneses_path, class: "item #{'active' if params[:controller] == 'bisneses'}"
=link_to 'Новости', admin_site_news_index_path, class: "item #{'active' if params[:controller] == 'site_news'}"
=link_to 'Акции', admin_shares_path, class: "item #{'active' if params[:controller] == 'shares'}"
=link_to 'Фотогалерея', new_photogallerei_path, class: "item #{'active' if params[:controller] == 'photogallereis'}"
=link_to 'Контакты', admin_contacts_path, class: "item #{'active' if params[:controller] == 'contacts'}"
=link_to 'Оплата и доставка', admin_payment_deliveries_path, class: "item #{'active' if params[:controller] == 'payment_deliveries'}"
=link_to 'Комментарии', admin_comments_path, class: "item #{'active' if params[:controller] == 'comments'}"
=link_to 'Заявки', admin_user_infos_path, class: "item #{'active' if params[:controller] == 'user_infos'}"
=link_to 'Бренды', admin_brands_path, class: "item #{'active' if params[:controller] == 'brands'}"
=link_to 'Мои подписчики', '#', class: "item #{'active' if params[:controller] == ''}"
=link_to 'Статистика заказов', '#', class: "item #{'active' if params[:controller] == ''}"