@font-face {
    font-family: 'Giger';
    src: url('Giger.ttf') format('truetype');
}

*
{
    font-family: Giger;
}
body
{
    background: url('bg2.jpg') fixed;
    background-size: 100%;
}
.wrapper
{
    text-align: center;
    color: #d01919;
    font-size: 18px;
}
.alert
{
    font-size: 25px;
    font-weight: bold;
}

.link
{
    font-size: 20px;
}