doctype html
html
  head
    title Заказ получен
  body
    h1 Заказ принят к исполнению
    p Благодарим за заявку, мы с вами свяжемся, как товар прибудет.
    p
     |Номер заказа:&nbsp;
     =@ordernumber