doctype html
html
  head
    title Был добавлен новый заказ
  body
    h1= "Добавлен заказ от #{@date}"
    p
     |Тип заявки:&nbsp;
     b=@type
    p="Заказчик: #{@name} #{@sename} #{@father_name}"
    p="Телефон: #{@phone}"
    p="Email: #{@email}"

    p=link_to 'Перейти в личный кабинет, для просмотра данных заявки', user_info_url(@id)