doctype html
html
  head
    title ="На сайт #{@host} был добавлен новый комент"
  body
   h1="На сайт #{@host} был добавлен новый комент"
   p="Пользователь #{@name}, оставил комментарий для продукта #{@product.name}:"
   p=@message
   p На данный момент комментарий не активный и не отображается на сайте, для его активации перейдите по ссылке ниже.
   p=link_to 'Перейти для активации коментария', edit_comment_url(@id)