= paginator.render do
  div.pagination
    ul
      ==(prev_page_tag) unless current_page.first?
      li
        ul
          - each_page do |page|
            - if page.left_outer? || page.right_outer? || page.inside_window?
              == (page_tag(page))
            - elsif !page.was_truncated?
              = raw(gap_tag)
      == (next_page_tag) unless current_page.last?