=content_for :body do
  |cart_orders
h1.ui.header Корзина
-object = Seo.new(title: 'Корзина', keywords: 'корзина заказы товары количество', description: 'Ваша корзина')
=render '/layouts/seo', meta: object
.ui.ordered.steps.small
  .completed.step
    .content
      .title
        =link_to 'Данные пользователя', edit_user_info_path(@user_info)
      .description Введите данные для идентификации вашего заказа
  .active.step
    .content
      .title Заказы
      .description Список заказываемых товаров
  .step
    .content
      .title Подтверждение заказа
      .description Отправка заказа на выполнение
h4.ui.horizontal.header
  i.user.icon
  ="#{@user_info.sename} #{@user_info.name} #{@user_info.father_name}"
h4.ui.horizontal.divider.header
 i.shop.icon
 |Список товаров для заказа
=form_for :orders, url: accept_orders_path() do |f|
 table.ui.compact.celled.definition.table(style='background: transparent')
   thead
     tr
       th(style='background: transparent')
       th(style='background: transparent')
       th(style='background: transparent') Название
       th(style='background: transparent') Артикул
       th(style='background: transparent') Цена (руб.)
       th(style='background: transparent') Количество
       th(style='background: transparent') Сумма
   tbody
     -unless @orders.nil?
       -summ = 0
       -@orders.each do |order|
         tr
           td.collapsing=link_to '<i class="delete icon red"></i>'.html_safe, order_path(order), method: :delete, data: {confirm: 'Удалить запись?'}, title: 'Удалить'
           td=image_tag order.catalog.picture.url(:mini), class: 'ui mini rounded image'
           =f.hidden_field :catalog_id, value: order.catalog.id, multiple: true
           =f.hidden_field :user_info_id, value: @user_info.id, multiple: true
           =f.hidden_field :id, value: order.id, multiple: true
           td=link_to order.catalog.name, catalog_path(order.catalog.id), target: :blank
           td=order.catalog.article
           td=number_to_currency(order.catalog.price, unit: '', separator: ',', delimiter: ' ')
           td
             b(style='font-size: 13px') x&nbsp;
             =f.number_field :count, value: 1, multiple: true ,style: 'width: 50px', class: 'item_count', data: {order: order.id}
             =hidden_field_tag :price,{}, value: order.catalog.price, class: "item_price_#{order.id}"
             |&nbsp;шт.
           td(class="item_summ_#{order.id} summ")
              span=number_to_currency(order.catalog.price, unit: '', separator: ',', delimiter: ' ')
              =hidden_field_tag :summ,{}, value: order.catalog.price, class: "item_summ_#{order.id}"
           -summ += order.catalog.price
     tr
       td(colspan='6') Итого
       td.itog=number_to_currency(summ, unit: '', separator: ',', delimiter: ' ')
   tfoot.full-width
     tr
       th(style='background: transparent')
       th colspan='6' style='background: transparent'
         button.ui.right.floated.small.primary.labeled.icon.button type='submit'
          i.shop.icon
          |Заказать