h1.ui.header Корзина
-object = Seo.new(title: 'Корзина', keywords: 'корзина заказы товары количество', description: 'Ваша корзина')
=render '/layouts/seo', meta: object
.ui.ordered.steps.small
  .completed.step
    .content
      .title Данные пользователя
      .description Введите данные для идентификации вашего заказа
  .active.step
    .content
      .title Заказы
      .description Список заказов
  .step
    .content
      .title Подтверждение заказа
      .description Отправка заказа на выполнение

table.ui.compact.celled.definition.table(style='background: transparent')
  thead
    tr
      th(style='background: transparent')
      th(style='background: transparent')
      th(style='background: transparent') Название
      th(style='background: transparent') Артикул
      th(style='background: transparent') Цена (руб.)
      th(style='background: transparent')
      th(style='background: transparent') Количество
      th(style='background: transparent')
  tbody
    -unless @orders.nil?
      -@orders.each do |order|
        tr
          td.collapsing=link_to '<i class="delete icon"></i>'.html_safe, order_path(order), method: :delete, data: {confirm: 'Удалить запись?'}
          td=image_tag order.catalog.picture.url(:mini), class: 'ui mini rounded image'
          =hidden_field_tag :catalog_id, value: order.catalog.id
          td=order.catalog.name
          td=order.catalog.article
          td=number_to_currency(order.catalog.price, unit: '', separator: ',', delimiter: ' ')
          td
          td
            b(style='font-size: 13px') x&nbsp;
            =number_field_tag :count, 1, style: 'width: 50px'
            |&nbsp;шт.
          td
  tfoot.full-width
    tr
      th(style='background: transparent')
      th colspan='6' style='background: transparent'
        .ui.right.floated.small.primary.labeled.icon.button
          i.shop.icon
          |Заказать