h1.ui.header Корзина
-object = Seo.new(title: 'Корзина', keywords: 'корзина заказы товары количество', description: 'Ваша корзина')
=render '/layouts/seo', meta: object
.ui.ordered.steps.small
  .completed.step
    .content
      .title Данные пользователя
      .description Введите данные для идентификации вашего заказа
  .completed.step
    .content
      .title Заказы
      .description Список заказываемы товаров
  .completed.step
    .content
      .title Заявка принята
      .description Ваш заказ приянт к выполнению
h4.ui.horizontal.header
  i.user.icon
  ="#{@user_info.sename} #{@user_info.name} #{@user_info.father_name}"
h4.ui.horizontal.divider.header
  i.shop.icon
  |Список заказанных товаров
table.ui.compact.celled.definition.table(style='background: transparent')
  thead
    tr
      th(style='background: transparent')
      th(style='background: transparent') Название
      th(style='background: transparent') Артикул
      th(style='background: transparent') Цена (руб.)
      th(style='background: transparent') Количество
      th(style='background: transparent') Сумма (руб.)
  tbody
    -unless @user_info.orders.nil?
      -count = 0
      -sum = 0
      -@user_info.orders.each do |order|
        tr
          td=image_tag order.catalog.picture.url(:mini), class: 'ui mini rounded image'
          td=link_to order.catalog.name, catalog_path(order.catalog.id)
          td=order.catalog.article
          td=number_to_currency(order.catalog.price, unit: '', separator: ',', delimiter: ' ')
          td=order.count
          td=number_to_currency(order.catalog.price * order.count, unit: '', separator: ',', delimiter: ' ')
          -count += order.count
          -sum += order.catalog.price * order.count
    tr
      td colspan='4'
       b Итоги:
      td
        b=count
      td
        b=number_to_currency(sum, unit: '', separator: ',', delimiter: ' ')
