.ui.compact.menu(style='float: right')
 .ui.simple.dropdown.item
  |Действия
  i.dropdown.icon
  .menu
   =link_to 'Разводящая', admin_contacts_path, class: 'item' unless params[:action] == 'admin_index'
   -unless params[:action] == 'new' || params[:action] == 'edit'
    =link_to 'Добавить', new_contact_path, class: 'item' if el.nil?
    =link_to 'Редактировать', edit_contact_path(el.id), class: 'item' unless el.nil?