=render '/layouts/breadcrumbs'
-unless @contact.nil?
 -unless @contact.seo.nil?
  =render '/layouts/seo', meta: @contact.seo
 -else
  =content_for :meta do
   title Контакты
-else
 =content_for :meta do
  title Контакты
h1.ui.header Контакты
=@contact.text.html_safe unless @contact.nil?