.ui.compact.menu(style='float: right')
 .ui.simple.dropdown.item
  |Действия
  i.dropdown.icon
  .menu
   =link_to 'Разводящая', admin_bisneses_path, class: 'item' unless params[:action] == 'admin_index'
   -unless params[:action] == 'new'
    =link_to 'Добавить', new_bisnese_path, class: 'item'