h3.ui.header(style='float: left; padding-top: 15px') Содержимое странички бизнес
=render 'actions', el: @bisnes
.clearfix
br
.ui.ordered.huge.list
  -unless @bisnes.nil?
   -@bisnes.each do |bisnes|
    =link_to bisnes.title, edit_bisnese_path(bisnes), class: 'item'