h3.ui.header(style='float: left; padding-top: 15px') Редактировать
=render 'actions', el: @bisnes
.clearfix
br
.ui.pointing.secondary.menu
 =link_to 'Основное', '', class: 'item active', data: {tab: 'main'}
 =link_to 'SEO', '', class: 'item', data: {tab: 'seo'}
=form_for @bisnes, url: bisnese_path, html: {class: 'ui form'} do |f|
 .ui.tab.segment.active(data-tab='main')
  .field
    =f.label :title
    =f.text_field :title, placeholder: 'Название'
  .ten.fields
    .field
      =f.label :sort
      =f.number_field :sort
  .field
    =f.cktext_area :text, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}
 .ui.tab.segment(data-tab='seo')
  =f.fields_for :seo do |seo|
   .field
    =seo.label :title, 'Заголовок браузера'
    =seo.text_field :title, placeholder: 'Заголовок браузера'
   .field
    =seo.label :keywords
    =seo.text_field :keywords,placeholder: 'Ключевые слова'
   .field
    =seo.label :description, 'Описание'
    =seo.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
 .field
  =f.submit 'Сохранить', class: 'ui primary button'
coffee:
  $('.menu .item').tab()