=render '/layouts/breadcrumbs'
-unless @bisnes.nil?
 =content_for :left_sidebar do
  =render 'menu', items: @menu, bisnes_id: @bisnes.id
 -unless @bisnes.seo.nil?
  =render '/layouts/seo', meta: @bisnes.seo
 -else
  =content_for :meta do
   title Бизнес с Амвей
-else
 =content_for :meta do
  title Бизнес с Амвей
h1.ui.header=@bisnes.title
=@bisnes.text.html_safe unless @bisnes.nil?
