h3.ui.header(style='float: left; padding-top: 15px') Содержимое странички доставка и оплата
=render 'actions', el: @payment_deliveries
.clearfix
br
.ui.ordered.huge.list
 -unless @payment_deliveries.nil?
  -@payment_deliveries.each do |payment_delivery|
    =link_to payment_delivery.name, edit_payment_delivery_path(payment_delivery), class: 'item'
