h3.ui.header(style='float: left; padding-top: 15px') Редактировать
=render 'actions', el: @payment_delivery
.clearfix
br
.ui.pointing.secondary.menu
  =link_to 'Основное', '', class: 'item active', data: {tab: 'main'}
  =link_to 'SEO', '', class: 'item', data: {tab: 'seo'}
=form_for @payment_delivery, html: {class: 'ui form'} do |f|
  .ui.tab.segment.active(data-tab='main')
    .field
      =f.label :name
      =f.text_field :name, placeholder: 'Название'
    .field
      =f.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}

  .ui.tab.segment(data-tab='seo')
    =f.fields_for :seo do |seo|
      .field
        =seo.label :title, 'Заголовок браузера'
        =seo.text_field :title, placeholder: 'Заголовок браузера'
      .field
        =seo.label :keywords
        =seo.text_field :keywords,placeholder: 'Ключевые слова'
      .field
        =seo.label :description, 'Описание'
        =seo.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
  .field
    =f.submit 'Сохранить', class: 'ui primary button'
coffee:
  $('.menu .item').tab()