=render '/layouts/breadcrumbs'
-unless @payment_delivery.nil?
  =content_for :left_sidebar do
    =render 'menu', items: @menu, id: @payment_delivery.id
  -unless @payment_delivery.seo.nil?
    =render '/layouts/seo', meta: @payment_delivery.seo
  -else
    =content_for :meta do
      title Оплата и доставка
-else
  =content_for :meta do
    title Оплата и доставка
h1.ui.header=@payment_delivery.name
=@payment_delivery.description.html_safe unless @payment_delivery.nil?