-brands.each do |brand|
 .slide
   =link_to (image_tag brand.picture.url(:site)), "##{brand.name.to_slug_param}", class: 'slide_brand'
   .brand_info(id="#{brand.name.to_slug_param}")
     .img(align='center')=image_tag brand.picture.url(:original)
     .description=brand.description.html_safe unless brand.description.blank?
