-unless @main.nil?
 -unless @main.seo.nil?
  =render '/layouts/seo', meta: @main.seo
 -else
  =content_for :meta do
   title Amway
-else
 =content_for :meta do
  title Amway

=@main.text.html_safe unless @main.nil?
-shares = getShares
-unless shares.blank?
  .main_slider
    ul.bxslider data-no-turbolink='true'

      -shares.each do |share|
       li
        -if share.picture.present?
         =link_to (image_tag share.picture.url(:main), title: share.name), share_path(share)
-last_news = getNewsToMain
-unless last_news.blank?
 h1.ui.header Новости
 .last_news data-no-turbolink='true'
   -last_news.each do |new|
    .cell
      -if new.picture.present?
       =link_to (image_tag new.picture.url(:site), class: 'ui small circular  image'), site_news_path(new)
      .text
        .name=link_to new.name, site_news_path(new)
.clearfix
-catalogs = getCatalog
-unless catalogs.blank?
 .catalog
   -catalogs.each_with_index do |catalog, index|
    a href="#{section_catalog_path(catalog.code)}"
      .ui.message(class="#{catalog.color}" style='margin-bottom: 10px' id="section_#{index}")
        .row(class="#{index%2==0 ? 'right' : 'left'}")
          -if catalog.picture.present?
           =image_tag catalog.picture.url(:site)
          .text
           .name=catalog.name
           .desc=catalog.anons.html_safe
        .clearfix
br
-brands = getBrandsMain
-unless brands.blank?
 h1.ui.header Наши бренды
 .brands data-no-turbolink='true'
   =render 'brands', brands: brands
-populars = getMostPopularProduct
-unless populars.blank?
 .populars
   h1.ui.header Популярные товары
   .ui.four.cards
    -populars.each do |popular|
     a href="#{catalog_path(popular[:id])}" class="#{popular[:color]} card popup" data-content="#{popular[:name]}"
       .card
         -unless popular[:picture].blank?
          .image
           =image_tag popular[:picture], width: '269'
         .extra
          |Рейтинг:&nbsp;
          .ui.star.rating data-rating="#{popular[:ratio]}" data-max-rating='5'