//@media only screen and (min-width: 1200px) {
//  .ui.container {
//    width: 1150px !important;
//  }
//}
.ui.centered.grid
{
  .six.wide.tablet.eight.wide.computer.column
  {
    .section_item
    {
      text-align: center;
      box-shadow: 2px 2px 10px #999;
      position: relative;
      &:hover
      {
        .home
        {
          background: teal;
          color: #fff !important;
        }
        .biuty
        {
          background: #c7002f;
          color: #fff !important;
        }
        .health
        {
          background: #47B36A;
          color: #fff !important;
        }
        .other
        {
          background: #749494;
          color: #fff !important;
        }
      }
      .img
      {
        overflow: hidden;
      }
      .name
      {
        font-weight: bold;
        font-size: 25px;
        color: teal;
        position: absolute;
        bottom: 110px;
        left: 15px;
        background: #F7F7F7;
        width: 90%;
        border-radius: 2px;
      }
      .home
      {
        color: teal !important;
        &:hover
        {
          background: teal;
          color: #fff !important;
        }
      }
      .biuty
      {
         color: #c7002f  !important;;
      }
      .health
      {
        color: #47B36A  !important;;
      }
      .other
      {
        color: #749494  !important;;
      }
    }
  }
}

.ui.three.column.grid
{
  .column
  {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 230px !important;
    border: 1px solid gainsboro;
    box-shadow: 3px 3px 10px #999;
    border-radius: 3px;
    position: relative;
    padding-bottom: 232px;
    .inner
    {
      position: absolute;
      bottom: 14px;
      left: 14px;
      right: 14px;

    }
    .name
    {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      a
      {
        color: cadetblue;
      }
    }
    .actions
    {
      font-size: 16px;
      .count
      {
        font-size: 13px;
        float: right;
        padding-top: 3px;
        span
        {
          color: #B00100;
          font-weight: bold;
        }
      }
      .price
      {
        float: left;
        font-weight: bold;
        color: darkslateblue;
        span
        {
          font-weight: normal;
          color: #000;
        }
      }
    }
    .left
    {
      float: left;
      .img
      {
        float: left;
        width: 50px;
        margin-right: 20px;
      }
      .anons
      {
        padding-top: 15px;
        font-size: 13px;
      }
    }
    .order
    {
      .ui.inverted.button
      {
        padding-left: 13px;
        padding-right: 13px;
      }
      text-align: center;
//      border: 1px solid #ff695e;
//      background: #ff695e;
//      border-radius: 3px;
      padding: 4px 0 4px 0;
      overflow: hidden;
      .first
      {

//        padding-left: 10px;
        float: left;
      }
//      .devise
//      {
//        border-right: 1px groove #fff;
//        margin-left: 16px;
//        width: 1px;
//        height: 24px;
//        float: left;
//        opacity: 0.5;
//      }
      .last
      {
//        padding-right: 10px;
        float: right;
      }
//      a
//      {
//        color: #fff;
//        &:hover
//        {
//          font-weight: bold;
//        }
//      }
    }
  }
}
.hidden
{
  display: none;
}
.ui.grid
{
  .price_detail
  {
    text-align: left;
    font-size: 18px;
    color: teal;
    margin-top: 15px;
    text-shadow: 3px 3px 5px #999;
    i
    {
//      color: #999999;
      font-size: 14px;
      text-shadow: none;
    }
    .old
    {
      color: gray;
      text-decoration: line-through;
    }
  }
  .buttons
  {
    margin-top: 10px;
    text-align: right;
  }
  .article
  {
    font-size: 12px;
    text-align: left;
    color: #999999;
  }
}
#order
{
  display: none;
  #tovar
  {
    font-weight: normal;
    font-size: 18px;
    padding-top: 11px;
  }
}
.ui.accordion
{
  .content {
    .ui.button
    {
      float: right;
      font-size: 12px;
      padding: 7px;
    }
  }
  .title
  {
    font-size: 20px !important;
    font-family: Giger !important;
    color: #4183c4 !important;
    .name
    {
      padding-top: 7px;
      float: left;
    }
    img
    {
      float: right;
    }
  }
}
.no_comment
{
  margin-top: 15px;
  color: lightslategray;
  font-size: 16px;
  padding-left: 35px;
}
.sort
{
  float: right;
  margin-right: 7%;
}
.card
{
    .percent
    {
      font-size: 30px;
      position: relative;
      left: 8px;
      top: 3px;
    }


  .content
  {
    .ui.card > .content:after
    {
      content: '' !important;
    }
    &:after
    {
      content: '' !important;
    }
    .description
    {
      font-size: 14px;
    }
  }
}
.brands_catalog
{
  .vertical.menu
  {
    border: none !important;
    width: 90px !important;
    background: transparent !important;
    box-shadow: none !important;
    .dropdown.item
    {
      &:hover
      {
        background: transparent !important;
      }
      padding-left: 0;
    }
  }
}