@import "semantic-ui";
@font-face {
  font-family: 'AnimeAcev3';
  src: url(asset-path('AnimeAcev3.ttf')) format('truetype');
}
@font-face {
  font-family: 'AcademiaRoma';
  src: url(asset-path('AcademiaRoma.ttf')) format('truetype');
}
@font-face {
  font-family: 'Barkentina';
  src: url(asset-path('Barkentina.otf'));
}
@font-face {
  font-family: 'Giger';
  src: url(asset-path('Giger.ttf')) format('truetype');
}
@font-face
{
  font-family: 'Sochi2014_Light';
  src: url(asset-path('Sochi2014_Light.ttf')) format('truetype');

}
$font: Giger;
*
{
  font-family: #{$font};
}
body
{
  background: url(asset-path('bg2.jpg')) fixed;
  background-size: 100%;
  h1, h2, h3, h4, h5
  {
    font-family: #{$font} !important;
  }
  height: auto;
}
.admin_body
{
  background: none;
  .admin_logo
  {
    float: right;

  }
}
.ui.fixed.inverted.menu
{
  height: 50px;
  background: lightslategray;

  .inverted.segment
  {
    padding-top: 2px;
    background: lightslategray;
  }
  .simple.dropdown.item {
    padding-right: 28px;
    padding-left: 18px;
  }
}
.ui.fixed.menu + .ui.grid
{
  padding-top: 0;
}
.ui.inverted.vertical.footer.segment
{
  background: lightslategray;
}
.ui.menu .item img.logo
{
  margin-right: 1.5em;
}
.main.container
{
  margin-top: 7em;
}
.ui.text.container
{
  width: 100%;
  max-width: none !important;
  padding-right: 35px;
}
.ui.text.container.main_page
{
  max-width: none !important;
  padding-right: 0;
  width: 98%;
  text-align: center;
  .header
  {
    color: lightslategray;
  }
  .last_news
  {
    overflow: hidden;
    .cell
    {
      float: left;
      width: 25%;
      text-align: center;
      img
      {
        margin-left: 25%;
      }
    }
  }
  .catalog
  {
    width: 100%;
    margin-top: 80px;
//    #section_0, #section_2
//    {
////      position: relative;
////      left: -1300px;
//    }
//    #section_1, #section_3
//    {
////      position: relative;
////      right: -1300px;
//    }
    .text
    {
      padding-top: 70px;
      .name
      {
        font-size: 22px;
        font-weight: bold;
      }
      .desc
      {
        font-size: 18px;
      }
    }
    .right
    {
      img
      {
        float: left;
        margin-right: 20px;
      }
      text-align: left;
    }
    .left
    {
      img
      {
        float: right;
        margin-left: 20px;
      }
      text-align: right;
    }
  }
  .main_slider
  {
    height: 474px;
    overflow: hidden;
  }
}
.ui.footer.segment
{
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.home
{
  a
  {
    color: #000 !important;
  }
  &:hover
  {
    a
    {
      font-weight: bold;
      color: #1E317E !important;
    }
  }
}
.biuty
{
  a
  {
    color: #000 !important;
  }
  &:hover
  {
    a
    {
      font-weight: bold;
      color: #C31919 !important;
    }
  }
}
.health
{
  a
  {
    color: #000 !important;
  }
  &:hover
  {
    a
    {
      font-weight: bold;
      color: #3B8A2E !important;
    }
  }

}
.other
{
  a
  {
    color: #000 !important;
  }
  &:hover
  {
    a
    {
      font-weight: bold;
      color: #749494 !important;
    }
  }
}
.clearfix
{
  clear: both;
}
#order_to_partner
{
  display: none;
}
.selected
{
background: rgba(255, 255, 255, 0.15) !important;
}
.left_sidebar
{

  padding-left: 5px;
  padding-top: 164px;
  text-align: left;
  .ui.vertical.menu
  {
    width: auto;
    background: transparent;
    a {
      padding-left: 10px;
      padding-right: 3px;
      position: relative;
    }
    .title
    {
      font-size: 16px;
      color: #2185d0;
    }
  }

}
.left_sidebar_section
{
  padding-top: 249px;
  margin-left: 5px;
  .ui.vertical.menu
  {
    width: auto;
    background: transparent;
    a
    {
      padding-left: 5px;
      padding-right: 3px;
      position: relative;
    }
    .title
    {
      float: left;
      width: 88%;
      word-wrap: normal;
    }
    .count
    {
      position: absolute;
      display: inline-block;
      height: 100%;
      top: 0;
      right: 5px;
      &:before
      {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      .label
      {
        margin-left: 0px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
    }

  }
}

#sign_in
{
  display: none;
}
.admin_container
{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 30px;
 color: #3d698e;
}
.cart
{
  position: relative;
  font-size: 45px;
  margin-top: 13px;
  margin-right: 20px;
  color: white;
  &:hover
  {
      color: #cce2ff;
  }
  .circular.label
  {
    position: absolute;
    bottom: 25px;
    right: 0px;
  }

}
.brands
{
  width: 100%;
  overflow: hidden;
  .brand_info
  {
    display: none;
    .img
    {
      text-align: center;
    }
    .description
    {

    }
  }
  .slide{
    line-height: 82px;
    a{
      display: inline-block;
      line-height: 100%;
    }
    img{
      vertical-align: middle;
    }
  }

}
.bx-wrapper {
  position: relative;
  .bx-controls-direction {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    a {
      position: absolute;
      top: 38%;
      margin-top: -16px;
      outline: 0;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
    }
  }
  .bx-prev {
    left: 5px;
    background: url(asset-path('controls.png')) no-repeat 0 -32px;
  }
  .bx-next {
    right: 5px;
    background: url(asset-path('controls.png')) no-repeat -43px -32px;
  }
}
.ui.popup.direction
{
  background: url(asset-path('bg2.jpg')) no-repeat;
  background-size: cover;
}
.non-active
{
  color: #808080;
  &:hover
  {
    color: #808080;
  }
}
.direction-pagination
{
  margin-bottom: 15px;
}