.shares
{
  .ui.segment
  {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
    padding-right: 14px;
    img
    {
      box-shadow: 1px 1px 10px #ccc;
    }
  }

  .ui.massive.aligned.divided.list
  {
    .item
    {
      a
      {
        width: 259px !important;
        vertical-align: middle;
      }
      img
      {
        width: 259px !important;
        border-radius: 5px;
      }
      box-sizing: initial;
      .date
      {
        font-size: 14px;
        font-weight: bold;
        color: lightslategray;
        text-align: right;
      }
      .name {
        margin-bottom: 10px;
      }
      .desc
      {
        font-size: 14px;
      }
      &:after {
        clear: none;
      }
    }
  }
}
.nav
{
  text-align: center;
}
