.site_news {
  .ui.massive.aligned.divided.list {
    .item {
      box-sizing: initial;
      .date
      {
        font-size: 14px;
        font-weight: bold;
        color: lightslategray;
        text-align: right;
      }
      .name {
        margin-bottom: 10px;
      }
      .desc
      {
        font-size: 14px;
      }
      a {
        width: 150px;
      }
      img {
        width: 150px;
        height: 150px;
      }
      &:after {
        clear: none;
      }
    }
  }
}
.ui.massive.aligned.divided.list {
  .item {
    box-sizing: initial;
    .date
    {
      font-size: 12px;
      font-weight: bold;
      color: lightslategray;
    }
  }
}
.detail
{
  .date
  {
    text-align: right;
    color: lightslategray;
    padding-right: 10px;
    font-weight: bold;
  }
  .img
  {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    img
    {
      border-radius: 10px;
      width: 300px;
    }
  }
  .detail_body
  {
    width: 75%;
    float: left;
  }
}
