 .field_with_errors {
   .input-error {
     box-shadow: 1px 1px 10px #aa0101 !important;
   }
   label
   {
     color: #aa0101;
     font-weight: bold;
   }
 }
 .error-message
 {
   color: #aa0101;
   font-weight: bold;
 }

