h3.ui.header(style='float: left; padding-top: 15px') Бренды
=render 'actions', el: @brands
.clearfix
br
-sections = getProducts
.ui.pointing.secondary.menu
 -unless sections.nil?
  -i = 0
  -sections.each_with_index do |section|
    -name = section[0]
    -key = section[1]
    =link_to name, '', class: "item #{'active' if i == 0 }", data: {tab: key}
    -i = 1
-unless sections.nil?
  -i = 0
  -sections.each_with_index do |section|
    -name = section[0]
    -key = section[1]
    .ui.tab.segment(class="item #{'active' if i == 0 }" data-tab="#{key}")
     -i = 1
     .ui.massive.aligned.divided.list
      -section_brands = getBrandSection key
      -unless section_brands.nil?
        -section_brands.each do |brand|
          .item
            .right.floated.content
              .ui.button.negative=link_to 'Удалить', brands_path(brand), method: :delete, data: {confirm: 'Удалить этот бренд?'}
            -if brand.picture.present?
              =link_to (image_tag brand.picture.url(:mini),class: 'ui middle aligned tiny image'), edit_brand_path(brand), class: 'ui image'
            .content
              =link_to brand.name , edit_brand_path(brand)
coffee:
  $('.menu .item').tab()