h3.ui.header(style='float: left; padding-top: 15px') Добавить
=render 'actions', el: @brands
.clearfix
br
.ui.pointing.secondary.menu
  =link_to 'Основное', '', class: 'item active', data: {tab: 'main'}
  =link_to 'SEO', '', class: 'item', data: {tab: 'seo'}
=form_for @brands, html: {class: 'ui form', multipart: true } do |f|
  .ui.tab.segment.active(data-tab='main')
    .three.fields
      .field
        =f.label :name
        =f.text_field :name, placeholder: 'Название'
      .field
        =f.label :product_id
        =f.select :product_id, getProducts
      .field
        .ui.toggle.checkbox style='padding-top: 10%'
          =f.check_box :show_main, {checked: true}, 1, 0
          =f.label :show_main, 'Показывать на главной'
    .field
      label Изображение
      =f.file_field :picture
    .field
      =f.label :description
      =f.cktext_area :description, ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}
  .ui.tab.segment(data-tab='seo')
    =f.fields_for :seo do |seo|
      .field
        =seo.label :title, 'Заголовок браузера'
        =seo.text_field :title, placeholder: 'Заголовок браузера'
      .field
        =seo.label :keywords
        =seo.text_field :keywords,placeholder:'Ключевые слова'
      .field
        =seo.label :description, 'Описание'
        =seo.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
  .field
    =f.submit 'Добавить', class: 'ui primary button'

coffee:
  $('.menu .item').tab()