=render '/layouts/breadcrumbs'
h1.ui.header Фотогалерея
.ui.medium.images
 .ui.fluid.image
  .ui.teal.ribbon.big.label Amagrams
  =link_to (image_tag 'a1.jpg'), photogallerei_path(1)
 .ui.fluid.image
  .ui.teal.right.ribbon.big.label Альбом 2
  =link_to (image_tag 'home.jpg'), photogallerei_path(1)
 .ui.fluid.image
  .ui.teal.ribbon.big.label Альбом 3
  =link_to (image_tag 'home.jpg'), photogallerei_path(1)
 .ui.fluid.image
  .ui.teal.right.ribbon.big.label Альбом 4
  =link_to (image_tag 'home.jpg'), photogallerei_path(1)
 .ui.fluid.image
  .ui.teal.ribbon.big.label Альбом 5
  =link_to (image_tag 'home.jpg'), photogallerei_path(1)