=render '/layouts/breadcrumbs'
h1.ui.header Amagrams
.ui.small.images
 =link_to (image_tag 'a1.jpg'), asset_path('a1.jpg'), class: 'fancybox_image', rel: 'fancybox_image'
 =link_to (image_tag 'a2.jpg'), asset_path('a2.jpg'), class: 'fancybox_image', rel: 'fancybox_image'
 =link_to (image_tag 'a3.jpg'), asset_path('a3.jpg'), class: 'fancybox_image', rel: 'fancybox_image'
 =link_to (image_tag 'a4.jpg'), asset_path('a4.jpg'), class: 'fancybox_image', rel: 'fancybox_image'
 =link_to (image_tag 'a5.jpg'), asset_path('a5.jpg'), class: 'fancybox_image', rel: 'fancybox_image'
 =link_to (image_tag 'a6.jpg'), asset_path('a6.jpg'), class: 'fancybox_image', rel: 'fancybox_image'

coffee:
  $(document).ready () ->
    $(".fancybox_image").fancybox
      parent: 'body'
      prevEffect: 'elastic'
      nextEffect: 'elastic'
      closeBtn: false
      helpers:
        title:
          type: 'inside'
        buttons: {}