h3.ui.header(style='float: left; padding-top: 15px') Редактировать
=render 'actions', el: @products
.clearfix
br
.ui.pointing.secondary.menu
  =link_to 'Основное', '', class: 'item active', data: {tab: 'main'}
  =link_to 'SEO', '', class: 'item', data: {tab: 'seo'}
=form_for @products, html: {class: 'ui form', multipart: true} do |f|
 .ui.tab.segment.active(data-tab='main')
  .field
    =f.label :name
    =f.text_field :name, placeholder: 'Название'
  .inline.fields
    label Цвет раздела
    .field
      .ui.radio.checkbox
        =f.radio_button :color, 'blue'
        =label_tag :product_color_blue, 'Синий' ,style:'color: blue'
    .field
      .ui.radio.checkbox
        =f.radio_button :color, 'red'
        =label_tag :product_color_red, 'Красный' ,style:'color: red'
    .field
      .ui.radio.checkbox
        =f.radio_button :color, 'green'
        =label_tag :product_color_green, 'Зелёный' ,style:'color: green'
    .field
      .ui.radio.checkbox
        =f.radio_button :color, 'teal'
        =label_tag :product_color_teal, 'Серосиний' ,style:'color: teal'
  .ten.fields
   .field
     =f.label :sort
     =f.number_field :sort
  .field
   label Изображение
   -if @products.picture.present?
    =image_tag @products.picture.url(:site)
    br
    =f.file_field :picture
  .field
    =f.label :anons
    =f.cktext_area :anons, ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}

 .ui.tab.segment(data-tab='seo')
  =f.fields_for :seo do |seo|
   .field
    =seo.label :title, 'Заголовок браузера'
    =seo.text_field :title, placeholder: 'Заголовок браузера'
   .field
    =seo.label :keywords
    =seo.text_field :keywords,placeholder:'Ключевые слова'
   .field
    =seo.label :description, 'Описание'
    =seo.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
 .field
   =f.submit 'Сохранить', class: 'ui primary button'
coffee:
  $('.menu .item').tab()