.ui.compact.menu(style='float: right')
 .ui.simple.dropdown.item
  |Действия
  i.dropdown.icon
  .menu
   =link_to 'Разводящая', admin_site_news_index_path, class: 'item' unless params[:action] == 'admin_index'
   -unless params[:action] == 'new' || params[:action] == 'edit'
    =link_to 'Добавить', new_site_news_path, class: 'item'
    =link_to 'Редактировать', edit_site_news_path(params[:id]), class: 'item' if params[:id].present?
   =link_to 'Удалить', site_news_path(params[:id]), class: 'item', method: :delete, data: {confirm: 'Удалить текущую новость?'} if params[:id].present?