h3.ui.header(style='float: left; padding-top: 15px') Содержимое странички с новостями
=render 'actions', el: @site_news
.clearfix
br
.ui.massive.aligned.divided.list
 -unless @site_news.blank?
  -@site_news.each do |new|
   .item
    .right.floated.content
     .ui.button=link_to 'Удалить', site_news_path(new), method: :delete, data: {confirm: 'Удалить эту новость?'}
    -if new.picture.present?
     =link_to (image_tag new.picture.url(:mini)), edit_site_news_path(new), class: 'ui avatar image'
    .content
     =link_to "#{new.name} #{'(Не активная)' unless new.active }", edit_site_news_path(new), class: "#{'non-active' unless new.active }"
     .date=new.created_at.strftime('%d.%m.%Y %H:%M:%S')
  br
=paginate @site_news, theme: 'semantic_ui'
