h3.ui.header(style='float: left; padding-top: 15px') Редактировать
=render 'actions', el: @site_news
.clearfix
br
.ui.pointing.secondary.menu
  =link_to 'Основное', '', class: 'item active', data: {tab: 'main'}
  =link_to 'SEO', '', class: 'item', data: {tab: 'seo'}
=form_for @site_news, url: site_news_path, html: {class: 'ui form', multipart: true } do |f|
 .ui.tab.segment.active(data-tab='main')
  .five.fields
    .field
      .ui.toggle.checkbox
        =f.check_box :active, {}, 1, 0
        =f.label :active, 'Активная'
  .field
    =f.label :name
    =f.text_field :name, placeholder: 'Название'
  .field
    -if @site_news.picture.present?
     label Изображение для анонса
     =image_tag @site_news.picture.url(:normal)
     br
    =f.file_field :picture
  .field
    =f.label :anons
    =f.cktext_area :anons, ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}
  .field
    =f.label :detail
    =f.cktext_area :detail, ckeditor: {uiColor: '#3d698e', toolbar: 'full', language: 'ru'}

 .ui.tab.segment(data-tab='seo')
  =f.fields_for :seo do |seo|
   .field
    =seo.label :title, 'Заголовок браузера'
    =seo.text_field :title, placeholder: 'Заголовок браузера'
   .field
    =seo.label :keywords
    =seo.text_field :keywords,placeholder:'Ключевые слова'
   .field
    =seo.label :description, 'Описание'
    = seo.cktext_area :description, class: 'ckeditor',  ckeditor: {uiColor: '#3d698e', toolbar: 'mini', language: 'ru', startupMode: 'source'}
 .field
  =f.submit 'Сохранить', class: 'ui primary button'
coffee:
  $('.menu .item').tab()