=render '/layouts/breadcrumbs'
-object = Seo.new(title: 'Новости', keywords: 'Новости компания', description: 'Новости компании Amway')
=render '/layouts/seo', meta: object
h1.ui.header Новости
.site_news
 .ui.massive.aligned.divided.list
  -unless @site_news.blank?
   -@site_news.each do |new|
    .item
     -if new.picture.present?
      =link_to (image_tag new.picture.url(:site)), site_news_path(new), class: 'ui avatar image'
     .content
      .name=link_to new.name, site_news_path(new)
      .desc=new.anons.html_safe
     .date=new.created_at.strftime('%d.%m.%Y')

   br
 =paginate @site_news, theme: 'semantic_ui'

