=render '/layouts/breadcrumbs'
-unless @site_news.seo.nil?
 =render '/layouts/seo', meta: @site_news.seo
-else
 =content_for :meta do
  title=@site_news.name

h1.ui.header=@site_news.name
.detail
 -if @site_news.picture.present?
  .img=image_tag @site_news.picture.url(:detail)
 .detail_body=@site_news.detail.html_safe
 .date=@site_news.created_at.strftime('%d.%m.%Y')
