-show_on_block = 5
-unless products.nil?
  -products.each do |product|
   .column style='border: none !important; padding-bottom: 0 !important'
    h4.ui.header(align='center')=link_to product.name, section_catalog_path(product.code), style: "color: #{getSectionColor(product.color)}"
    -unless product.subsections.blank?
     .ui.secondary.pointing.center.menu.directions style='width: 150px; margin-left: 13%;'
       =link_to 'Категории', '', class: 'item active', style: 'color: lightslategray !important', data: {tab: "#{product.code}_category"}
       =link_to 'Бренды', '', class: 'item', style: 'text-align: center; color: lightslategray !important', data: {tab: "#{product.code}_brand"}
     br
     .ui.tab.active data-tab="#{product.code}_category"
      -if product.subsections.length > show_on_block
        -pages =  (product.subsections.length.to_f / show_on_block).ceil
        -i = 1
        .direction-pagination
          -pages.times do |page|
           a.mini.ui.button.basic.page(class="#{'active' if page == 0}" style="color: #{getSectionColor(product.color)} !important" data-tab="#{product.code}_category_#{page}")=page + 1
        .ui.tab.active data-tab="#{product.code}_category_0"
          -j = 0
          -product.subsections.each do |subsection|
            .ui.link.list=link_to "#{subsection.name} (#{subsection.catalogs.length})", catalog_subsection_path(product.code, subsection.id),  title: subsection.name, style: "color: #{getSectionColor(product.color)}"
            - if i % show_on_block == 0
             -j += 1
             = "</div><div class='ui tab' data-tab='#{product.code}_category_#{j}'>".html_safe
            -i += 1

      -else
        -product.subsections.each do |subsection|
            .ui.link.list
              =link_to "#{subsection.name} (#{subsection.catalogs.length})", catalog_subsection_path(product.code, subsection.id), title: subsection.name, style: "color: #{getSectionColor(product.color)}"
     .ui.tab data-tab="#{product.code}_brand"
      -brands = getBrandSection product.id
      -unless brands.nil?
       -if brands.length > show_on_block
        -pages = (brands.length.to_f / show_on_block).ceil
        -i = 1
        .direction-pagination
         -pages.times do |page|
          a.mini.ui.button.basic.page(class="#{'active' if page == 0}" style="color: #{getSectionColor(product.color)} !important" data-tab="#{product.code}_brand_#{page}")=page + 1
        .ui.tab.active data-tab="#{product.code}_brand_0"
          -j = 0
          -brands.each do |brand|
           .ui.link.list=link_to "#{brand.name} (#{brand.catalogs.length})", brand_catalogs_path(product.code ,brand.id),  title: brand.name, style: "color: #{getSectionColor(product.color)}"
           - if i % show_on_block == 0
            -j += 1
            = "</div><div class='ui tab' data-tab='#{product.code}_brand_#{j}'>".html_safe
           -i += 1
       -else
        -brands.each do |brand|
         .ui.link.list=link_to "#{brand.name} (#{brand.catalogs.length})", brand_catalogs_path(product.code ,brand.id),  title: brand.name, style: "color: #{getSectionColor(product.color)}"