=javascript_include_tag '/fancybox/jquery.mousewheel-3.0.6.pack.js'
=stylesheet_link_tag '/fancybox/jquery.fancybox.css', type: 'text/css', media: 'screen'
=javascript_include_tag '/fancybox/jquery.fancybox.pack.js'
=stylesheet_link_tag '/fancybox/jquery.fancybox-buttons.css', type: 'text/css', media: 'screen'
=javascript_include_tag '/fancybox/jquery.fancybox-buttons.js'
=javascript_include_tag '/fancybox/jquery.fancybox-media.js'
=stylesheet_link_tag '/fancybox/jquery.fancybox-thumbs.css', type: 'text/css', media: 'screen'
=javascript_include_tag '/fancybox/jquery.fancybox-thumbs.js'