=render '/layouts/partner_form'
.ui.center.aligned.container
 .ui.stackable.inverted.divided.grid
  .three.wide.column
   h4.ui.inverted.header=link_to 'Продукция', catalogs_path, style: 'color: #fff'
   .ui.inverted.link.list
    =render 'layouts/footer_directions', items: Product.all
  .three.wide.column
   h4.ui.inverted.header &nbsp;
   .ui.inverted.link.list
    =link_to 'Главная', root_path, class: 'item'
    =link_to 'Скидки', discount_catalogs_path, class: 'item'
    =link_to 'Бизнес в Амвей', bisneses_path, class: 'item'
  .three.wide.column
   h4.ui.inverted.header &nbsp;
   .ui.inverted.link.list
    =link_to 'Новости', site_news_index_path, class: 'item'
    =link_to 'Акции', shares_path, class: 'item'
    /=link_to 'Фотогалерея', photogallereis_path, class: 'item'
    =link_to 'Оплата и доставка', payment_deliveries_path, class: 'item'
  .three.wide.column
    h4.ui.inverted.header &nbsp;
    .ui.inverted.link.list
      =link_to 'Контакты', contacts_path, class: 'item'
  .three.wide.column
   /h4.ui.inverted.header Amway
   p=link_to 'Стать партнером', '#order_to_partner', class: 'ui inverted red button', id: 'order_to_partner_button'
   /Yandex.Metrika informer
   a href='https://metrika.yandex.ru/stat/?id=34156350&amp;from=informer' target='_blank' rel='nofollow'
    img src='https://informer.yandex.ru/informer/34156350/3_0_FFFFFFFF_EFEFEFFF_0_pageviews' style='width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)' onclick='try{Ya.Metrika.informer({i:this,id:33687709,lang:"ru"});return false}catch(e){}'
   /Yandex.Metrika informer
 .ui.inverted.section.divider
 =image_tag 'logo2_white_footer.png', class: 'ui centered mini image', style: 'width: 200px'
 .ui.horizontal.inverted.small.divided.link.list
  =link_to 'Карта сайта', '#', class: 'item'
  =link_to 'Контакты', contacts_path, class: 'item'
  =link_to 'Лицензия', '#', class: 'item'
  =link_to 'Войти', '#sign_in', class: 'item', id: 'sign_in_link', rel: 'sign_in_link' unless user_signed_in?
  =link_to 'Личный кабинет', admin_path, class: 'item' if user_signed_in?
  =link_to "Выйти (#{current_user.email})", destroy_user_session_path, class: 'item', method: :delete if user_signed_in?
=render 'layouts/sign_in_form'

javascript:
 //Yandex.Metrika counter
 (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
                try {
                w.yaCounter34156350 = new Ya.Metrika({
                  id: 34156350,
                  clickmap: true,
                  trackLinks: true,
                  accurateTrackBounce: true
                });
 } catch(e) {}
 });

 var n = d.getElementsByTagName('script')[0],
         s = d.createElement('script'),
         f = function () {n.parentNode.insertBefore(s, n); };
 s.type = 'text/javascript';
 s.async = true;
 s.src = 'https://mc.yandex.ru/metrika/watch.js';

 if (w.opera == '[object Opera]') {
 d.addEventListener('DOMContentLoaded', f, false);
 } else {f(); }
 })(document, window, 'yandex_metrika_callbacks');

noscript
  div
    img src='https:/ /mc.yandex.ru/ watch / 34156350' style = 'position:absolute; left:-9999px;' alt = ''
  / Yandex.Metrika counter