=link_to 'Скидки', discount_catalogs_path, class: "item #{ 'active' if request.path.include? 'discount'}"
=link_to 'Бизнес в Амвей', bisneses_path, class: "item #{ 'active' if request.path.include? 'bisneses'}"
=link_to 'Новости', site_news_index_path, class: "item #{ 'active' if request.path.include? 'site_news'}"
=link_to 'Акции', shares_path, class: "item #{ 'active' if request.path.include? 'shares'}"
/=link_to 'Фотогалерея', photogallereis_path, class: "item #{ 'active' if request.path.include? 'photogallereis'}"
=link_to 'Оплата и доставка', payment_deliveries_path, class: "item #{ 'active' if request.path.include? 'payment_deliveries'}"
=link_to 'Контакты', contacts_path, class: "item #{ 'active' if request.path.include? 'contacts'}"