h3.ui.header Последнии новости
.news
 -unless getLastNews.blank?
  -getLastNews.each do |new|
   .item
    p=link_to "<b>#{new.name}</b>".html_safe, site_news_path(new)
    -if new.picture.present?
     =link_to (image_tag new.picture.url(:mini), class: 'ui tiny circular image'), site_news_path(new)
    .desc= sanitize new.anons
    .date=new.created_at.strftime('%d.%m.%Y')
   .clearfix