#order_to_partner
  =form_for UserInfo.new, url: add_request_user_infos_path(), html: {class: 'ui form', id: 'partner_form'} do |f|
    =f.hidden_field :order_type, value: '1'
    h2.ui.dividing.header Хочу стать партнером
    .field
      label Представтесь
      .two.fields
        .field
          =f.text_field :name, placeholder: 'Имя*'
        .field
          =f.text_field :sename, placeholder: 'Фамилия*'
      label Контактные данные
      .two.fields
        .field
          =f.text_field :phone, placeholder: 'Телефон*'
        .field
          =f.email_field :email, placeholder: 'Email'
    /.field
      label Паспортные данные
      .fields
        .two.wide.field
          =f.text_field :seriya, placeholder: 'Серия*'
        .four.wide.field
          =f.text_field :number, placeholder: 'Номер*'
        .four.wide.field
          =f.text_field :date, placeholder: 'Дата*'
        .ten.wide.field
          =f.text_field :who, placeholder: 'Кем выдан*'
    .ui.segment
      .field
        .ui.toggle.checkbox
          =check_box_tag :aggree, class: 'hidden'
          =label_tag :aggree, 'Я согласен на обработку моих персональных данных'
    .field
      =show_simple_captcha
    .field
      =f.submit 'Отправить', class: 'ui  disabled button', id: 'partner_form_button'

