h3.ui.header Последнии акции
.banner-shares
 -unless getLastShares.nil?
  -getLastShares.each do |share|
   .ui.segment
    .ui.red.right.ribbon.medium.label=share.name
    =link_to (image_tag share.picture.url(:banner)), share_path(share)
.clearfix