#sign_in
  =form_for :user,  url: '/users/sign_in', html: { class: 'ui form' } do |f|
    h2.ui.header Войти
    .field
      .two.fields
        .field
          =f.email_field :email, placeholder: 'Email*', autofocus: true
        .field
          =f.password_field :password, placeholder: 'Пароль*', autocomplete: "off"
    .inline.field
      .ui.toggle.checkbox
       =f.check_box :remember_me, class: 'hidden'
       =f.label :remember_me, 'Запомнить меня'
    .field
      =f.submit 'Войти', class: 'ui button'