a href='https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://pogoda.yandex.ru/ulyanovsk' target='_blank'
 img src='//info.weather.yandex.net/ulyanovsk/2.ru.png?domain=ru' border='0' alt='Яндекс.Погода'
 img width='1' height='1' src='https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif' alt='' border='0'