doctype html
html
  head
    title Личный кабинет администратора сайта
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    =csrf_meta_tags
    =favicon_link_tag 'favicon.ico'
  body.admin_body(class="#{yield :body}")
    .ui.fixed.inverted.menu
      .ui.container
       =link_to (image_tag('logo2_white_mini.png', style: 'width: 100px', class: 'item')), admin_path unless params[:action] == 'admin_cabinet'
       =image_tag('logo2_white_mini.png', style: 'width: 100px', class: 'item') if params[:action] == 'admin_cabinet'
       .item(style='font-size: 26px; font-weight: bold') Личный кабинет администратора
       .right.menu
        =link_to 'Перейти на сайт', root_path, class: 'item', style: 'font-size: 16px'
    .admin_container
     .ui.grid
      .four.wide.column
       .ui.vertical.fluid.tabular.menu
        =render 'layouts/admin/admin_menu'
      .twelve.wide.stretched.column
       .ui.segment
        =yield
    =image_tag 'bg2.png', class: 'admin_logo'

=debug params if Rails.env.development?