doctype html
html
  head
    /title Amway
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    =yield :meta
    =csrf_meta_tags
    =favicon_link_tag 'favicon.ico'
  body(class="#{yield :body}")
    .ui.fixed.inverted.menu
      .ui.container
        =link_to image_tag('logo2_white_mini.png', style: 'width: 100px'), root_path, class: 'header item'
        =link_to 'Главная', root_path, class: "item #{ 'active' if request.path == '/'}"
        a class='browse item production' href="#{catalogs_path}"
         |Продукция
         i.dropdown.icon
        .ui.flowing.popup.transition.hidden.direction
         .ui.three.column.divided.left.aligned.grid
           =render '/layouts/directions', products: Product.all
        =render '/layouts/menu'
      a.cart href="#{new_user_info_path()}" title='Перейти в корзину'
        i.shop.icon
        .ui.red.circular.label.cart_count=getOrderCountsForUser request.session.id
    .ui.grid
      .four.wide.column
        .left_sidebar_section
          =yield :left_sidebar
      .twelve.wide.column
        .ui.main.text.container.catalog_section
          =yield
    .ui.inverted.vertical.footer.segment
      =render '/layouts/footer'

=debug params if Rails.env.development?